* {
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
  border: none;
  box-sizing: border-box;
  font-family: Nunito, "Gill Sans", "Helvetica", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dabfde;
}

#main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8decb4;
  border: 4px solid white;
  border-radius: 12px;
}

#contentInp {
  border-radius: 7px;
  outline: none;
  resize: none;
  padding: 3px;
  font-size: medium;
  width: 90%;
  height: 100px;
  border: 3px solid white;
}

.formElem {
  margin: 7px 0;
}

.radios {
  margin: 0 10px;
}

#submit {
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 7px;
  background-color: #fff;
}

#submit:hover {
  background-color: #8decb4;
}

#displayParent {
  flex-grow: 0.6;
  border-radius: 7px;
  padding: 5px;
  margin-top: 12px;
  max-width: 90%;
  height: fit-content;
  max-height: 50%;
  overflow-y: scroll;
  border: 3px solid white;
  background-color: #fff;
  display: flex;
}

#display {
  word-wrap: break-word;
  height: fit-content;
}

#tapToCpy {
  border: 1px solid black;
  padding: 3px;
  border-radius: 4px;
  margin: 6px 0;
}
